/* Reset some default styles */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Dark theme styles */
body {
    background-color: #222;
    color: #fff;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #fff3eb;
    /* Color for visited links (same as default color) */
}

header a:visited {
    color: #fff3eb;
    /* Default color for the links */
}

/* Horizontal menu styles */
menu {
    display: flex;
    justify-content: flex-start;
    background-color: #444;
    padding: 10px;
}

menu li {
    list-style: none;
    margin-right: 20px;
}

menu li a {
    color: #fff;
    text-decoration: none;
}

/* Left-aligned search panel styles */
#searchpanel {
    float: left;
    padding: 10px;
}

#search {
    margin-bottom: 10px;
}
#navigator{
    text-align: center;
    margin: 20px;
}

/* Content styles */
#postspage{
    display: flex;
}
#newupload,
#previewlist,
#taglist,
#signform {
    flex: 1;
    flex-direction: row;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;

    flex-shrink: 0;
    width: 100%;
    position: relative;
    /* Set position to relative if you want to use absolute positioning inside the footer */
}

#signform {
    width: 300px;
    height: calc(100% - 50px);
    margin: 0 auto;
    background-color: #444;
    padding: 20px;
    text-align: center;
}

/* Centered and squared login form fields */
#signform input,
#signform button {
    display: block;
    width: calc(100% - 40px);
    height: 40px;
    /* Set the height to create a square shape */
    margin: 0 auto;
    /* Center the elements horizontally */
    margin-bottom: 15px;
}

#signform button {
    width: calc(100% - 40px);
}

#signform a {
    text-decoration: none;
    color: #fff3eb;
    /* Default color for the links */
}

#signform a:visited {
    color: #fff3eb;
    /* Color for visited links (same as default color) */
}

#taglist a {
    text-decoration: none;
    color: #fff3eb;
    /* Default color for the links */
}

#taglist a:visited {
    color: #fff3eb;
    /* Color for visited links (same as default color) */
}

#taglist ul {
    list-style: none;
    /* Remove the bullet point */
    padding: 0;
}

#taglist li {
    margin-bottom: 10px;
    /* Add some spacing between list items if needed */
}

#newupload {
    padding: 10px;
}
#previewbox{
    flex: 1;
    flex-direction: column;    
}

#navigator a {
    text-decoration: none;
    color: blue;
    margin-right: 5px;
    margin-left: 5px;
}
#navigator span {
    margin-right: 5px;
    margin-left: 5px;
}
